.myId {
  color: black;
  margin-left: 200px;
}

.myData {
  color: red;
  margin-left: -130px;
}
.myName {
  color: black;
  margin-left: 200px;
}

.myData2 {
  color: red;
  margin-left: 36px;
}

.myEmail {
  color: black;
  margin-left: 220px;
}

.myData3 {
  color: red;
  margin-left: -56px;
}
