.profile-page {
  background-color: white;
  width: 500px;
  margin-top: 50px;
  margin-left: 500px;
  padding: 15px;
  color: black;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border-radius: 30px;
  font-size: 12px;
}

.info {
  color: red;
}

.mylist {
  background-color: black;
  color: white;
  border-radius: 30px;
  padding: 5px;
}

.delete-butt {
  font-size: 23px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: black;
}

.Header {
  text-align: center;
}
