:root {
    --main-color: #13af73;
    --secondary-color: #ffffff;
    --main-text-color: #0625af;
  }
  
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: system-ui;
    font-weight: 200;
    color: #122836; 
  }
  
  #root{
    height:100%;
    display:grid;
  }
  .page-view{
    margin-top:50px;
    height:auto;
  }