:root {
  --nav-bar-color: #0e335a;
  --nav-text-color: #ffffff;
  --nav-bar-hover: #08233f;
  --main-background-color: #ffffff;
  --button-blue-color: #0e335a;
  --button-blue-hover: #134377;
  --button-green-color: #3dada2;
  --button-green-hover: #41b9ad;

  --listing-background-item1:#f5f5f5;
  --listing-background-item2:#e6e6e6;
  --listing-background-item3:#c4c4c4;
  --listing-background-color: #0e335a;

  --chat-message-other: rgb(218, 218, 218);
  --chat-message-user: #6c8eff;
  --chat-popup-color: #e8e9f0;
  --room-header-color: #d1d1d1;
}
  
html, body {
  margin: 0;
  padding: 0;
  font-family: 'Duru Sans', sans-serif;
  font-weight: 200;
  overflow: hidden;
}


#root {
  height: 100vh;
  width: 100vw;
  display:grid;
  grid-template-rows:50px 1fr ;
  overflow-y:auto;
  background-color: var(--main-background-color);
}

.listing-page{
  height:100%;
  width:100%;
}

.about-page{
  height:100%;
  width:100%;
  
}

.view-page{
  display: grid;
  grid-template-rows:30px 1fr 50px;
  grid-template-columns: 100px 1fr 100px;
  overflow: hidden;
}

.profile-page{
  display: grid;
  grid-template-rows:20px 100px 20px 1fr 50px;
  grid-template-columns: 100px 1fr 100px;
  overflow: hidden;
}

.chat-manager-page{
  display:grid;
  grid-template-rows:  1fr ;
  grid-template-columns: 300px minmax(500px, 1fr);;
  overflow: hidden;
}


/* BACKGROUND COLOR ARE DECLARED IN PAGE-VIEW */