.nav-bar {
  text-align: center;
  position: fixed;
  background-color: white;
  overflow: hidden;
  opacity: 1;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 500;
}
.nav-left {
  float: left;
}

.nav-right {
  float: right;
}

.nav-button {
  color: black;
  text-align: center;
  padding: 30px 16px;
  text-decoration: none;
  font-size: 17px;
  background-color: white;
  border-color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.nav-button:hover {
  text-decoration: underline;
  color: #1f3f47;
  font-weight: bold;
}
