.quantitybut {
  text-align: center;
  width: 33px;
  margin-left: auto;
  vertical-align: middle;
  justify-content: center;
  /* background-color: #1f3f47;
  background-color: #114d5c;
  border-radius: 30px;
  border-color: #35606b;
  /* border-color: #1f3f47; */
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.nm {
  margin-left: 330px;
  margin-right: auto;
  text-align: center;
  /* background-color: #1f3f47; */
  /* background-color: #125b6d; */
  background-color: #114d5c;
  border-color: #35606b;
  color: white;
  border-radius: 30px;
  width: 94px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.item {
  width: 100px;
  margin-left: 60px;
  color: white;
  /* background-color: #1f3f47; */
  background-color: #114d5c;
  border-color: #35606b;
  /* border-color: #1f3f47; */
  border-radius: 30px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
} */
/*.Item-Container {
  color: rgb(231, 10, 10);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: large;
  padding: 10px;
  justify-content: space-around;
  width: 100%;
}
.item {
  max-width: 5px;
  display: flex;
  justify-content: center;
}

#overflow {
  overflow-wrap: break-word;
  hyphens: auto;
  max-width: 200px;
}

.container{
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  display: flex;
}

.columns {
  margin: 0 15px 25px;
}

.card {
  padding: 15px 25px;
}

.button {
  color: black;
  margin-left: 10px;
  font-size: 12px;
  background-color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border-radius: 10px;
}
*/
