.Item-Container {
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: large;
  padding: 10px;
  justify-content: space-around;
  width:100%;
  
}
.item {
  max-width:5px;
  display: flex;
  justify-content: center;
}
 
#overflow{
  overflow-wrap: break-word;
  hyphens: auto;
  max-width:200px;
}


h2{
  font-size: 1.3rem;
  line-height: 1.65;
  color: yellow;
  letter-spacing: 2px;
}

body{
  color: red;
}
.container{
  max-width: 1170px;
  width: 100%;
  margin:0 auto;
  display: flex;
  

}

.columns{
  margin: 0 15px 25px;
 
}

.card{
  padding: 15px 25px;
}
