/* .listingSearch {
  margin-left: 70%;
  margin-top: 10px;
}

.listingSearch [placeholder="Item"] {
  margin-left: 15%;
  text-align: center;
  font-size: 17px;
  border-radius: 30px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.listingSearch [type="submit"] {
  color:#1f3f47;
  margin-left: 10px;
  font-size: 12px;
  background-color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border-radius: 10px;
} */
