.Item-Container {
  box-sizing: content-box;
  height: 30px;
  width: 550px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  color: white;
  background-color: black;
  /* column-count: 3; */
}

.ListingItem {
  width: 100%;
  height: 40px;
  box-sizing: content-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchBar {
  font-weight: 700;
  padding: 10px;
  text-align: left;
  font-size: larger;
  margin-left: 71%;
  margin-top: 50px;
  /* margin-left: 20px; */
  padding-bottom: 5px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px;
}
.listingSearch {
  margin-left: 10%;
  margin-top: 0px;
}

.Listing-head {
  text-align: center;
  color: whitesmoke;
  font-size: xx-large;
  font-weight: bold;
  text-decoration: underline;
  padding: 10px;
}
.Item-Container {
  box-sizing: content-box;
  height: 30px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.ListingItem {
  width: 100%;
  height: 40px;
  box-sizing: content-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
.theListings {
  width: 1000px;
  margin-left: 188px;
  margin-top: 23px;
  position: relative;
}

.searcher {
  margin-left: 200px;
  background-color: #1f3f47;
}

.Item-Container [type="button"] {
  color: black;
  margin-left: 10px;
  font-size: 12px;
  background-color: goldenrod;
  border-color: black;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border-radius: 5px;
}
.Item-Container [type="button"]:hover {
  background-color: yellow;
  color: black;
}
