
.outer-listing{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    /* background: rgba(0, 0, 0, 0.801);
    box-sizing: border-box; */
    background-color: #333;
    border-radius: 30px;
    color: whitesmoke;
    width: 320px;
    height: 420px;
    box-sizing: border-box;
    padding: 70px 30px;
    
}

.listing-heading{
    margin: 0;
    margin-top: 0px;
    padding: 0 0 10px;
    color: whitesmoke;
    font-family: 'Optima';
}

.listing-text-user{
    color: whitesmoke;
    margin-left: 10px;
}

.listing-text-quantity{
    color: whitesmoke;
    /* margin-left: none; */
}

.outer-listing input[type="text"], input[type="integer"]{
    /* border: none; */
    border-bottom: 1px solid #333;
    box-sizing: border-box;
    border-radius: 8px;
    /* background: transparent; */
    outline:none;
    height: 20px;
    width: 200px;
    margin-left: 4px;
    margin-bottom: 8px;
    color: purple;
    font-size: 15px;
    font-family: 'Optima';
    padding: 10px 50px;
}

.listingBut button[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    width: 200px;
    background: #58a2df;
    color: whitesmoke;
    font-size: 18px;
    border-radius: 20px;
    font-family: 'Optima';
}

.listingBut button[type="submit"]:hover{
    cursor: pointer;
    background: #64aeeb;
    /* background: #4c9ed3; */
    color: whitesmoke;
}

.outer-listing a{
    font-size: 14px;
    padding: 10px 0px 0px;
    text-decoration: underline;
    color: whitesmoke;
    line-height: 10px;
}

.outer-listing a:hover{
    color: #f5f5f5d3;
}