.new-room {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-top: -200px;
  margin-left: 40px;
  padding: 0;
  display:grid;
  

}
.new-room [placeholder="Create your own room"] {
  font-size: 15px;
  border-radius: 1px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border-color: var(--button-blue-color);
  padding: 3px;
  margin-top: 0px;
}

.creator {
  background-color: whitesmoke;
  color: white;
  font-size: 13px;
  border-radius: 10px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    margin-left: 10px;
    margin-bottom: -5px;
    

}

.creator:hover {
  cursor:pointer;
  margin-top: 20px;
}
