.room-button {
  background-color: #1f3f47;
  border-color: white;
  border-width: 1mm;
  font-size: 14px;
  color: white;
  display: table-cell;
  margin-bottom: 12px;
  padding: 13px;
  text-align: center;
  margin-left: 160px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bolder;
}

.room-button:hover {
  color: white;
  font-weight: bold;
  border-top: #1f3f47;
  border-right: #1f3f47;
  border-left: #1f3f47;
  border-bottom: solid;
}
