.container {
  background-color: white;

  width: 400px;
  margin-top: 66px;
  margin-left: 499px;
  padding: 24px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

  font-size: 22px;
}

.username {
  background-color: black;
  color: white;
  padding: 1px;
  font-size: 25px;
  width: 188px;
  margin-left: 105px;
  align-items: center;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.rooms {
  color: orange;
}
