.chatInfoBar {
  background-color: lightblue;
  border-width: 3mm;
  border-color: navy;
  box-sizing: border-box;
  text-align: center;
  height: 100%;
  line-height: 30px;
}

/* .gobacktoRoom {
  background-color: var(--button-green-color);
  color: black;
  border-radius: 30px;
  font-size: 18px;
  margin-bottom: 32px;
} */
