.about-page{
  text-align: center;
  margin-top: 12.5%;
  color: var(--nav-bar-color);
}

.about-welcome{
  font-size: 20px;
}

.about-info{
  margin-left: 12.5%;
  margin-right: 12.5%;
  font-family: Optima;
}



