/* .chat-form {
  margin-top: -35px;
  width: 910px;
  background-color: lightblue;
  margin-left: 250px;
  padding-top: 5px;
  padding-bottom: 10px;
}

.chat-form [placeholder="Type a message..."] {
  font-size: 15px;
  width: 780px;
  background-color: #1b8fac;
  color: black;
  background-color: white;
  border-radius: 30px;
  padding-left: 10px;
  padding-bottom: 1mm;
  border-color: var(--button-blue-color);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.chat-send-btn {
  font-size: 13px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: black;
  background-color: var(--button-green-color);
  border-color: var(--button-blue-color);
  border-radius: 30px;
}

.chat-send-btn:hover {
  background-color: aqua;
  color: var(--button-blue-color);
} */
