.chat-form {
  margin-top: -35px;
  background-color: var(--button-blue-color);
  width: 660px;
  margin-left: 25%;
}

.chat-form [placeholder="Type a message..."] {
  font-size: 15px;
  width: 570px;
  background-color: var(--button-blue-color);
  color: black;
  background-color: white;
  border-radius: 30px;
  padding-left: 10px;
  border-color: var(--button-blue-color);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.chat-send-btn {
  font-size: 13px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: black;
  background-color: var(--button-green-color);
  border-color: var(--button-blue-color);
  border-radius: 30px;
}

.chat-send-btn:hover {
  background-color: var(--button-green-hover);
  color: var(--button-blue-color);
}
